# Copy this file to .env and fill in your values
# NEVER push .env to GitHub

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=url_shortener
DB_PORT=3306
DB_SSL=false

JWT_SECRET=generate_a_strong_secret_using_node_crypto

BASE_URL=http://localhost:4000
PORT=4000
